
#cartButton {
    position: fixed;
    left: 80%;
    top: 5%;
    z-index: 10;
    background: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 1000ms;
}


#cartButton:hover {
    opacity: 1 !important;
}

#cartButton.bright {
    opacity: 1 !important;
}

.popover {
    max-width: 1000px;
    text-align: center;
    z-index: 9;
}

.popover-header {
    background-color: #282828;
    color: aliceblue;
}

.popover-body {
    padding-top: 20px;
}

.product-container {
    margin-bottom: 10px;
}

.product-container .toggler {
    padding-left: 90px;
}

.product-container .btn-outline-dark {
    border: none;
}

.product-container .btn-outline-dark:hover {
    color: aliceblue;
    background-color: #282828;
}

.product-container .cart-thumb {
    width: 100px;
    height: 100px;

    background-size: cover;    
    background-repeat: no-repeat;
    background-position-y: center;

    cursor: pointer;
}

.cart-total {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.cart-total .total-value {
    text-align: right;

}

.cart-total .total-header {
    text-align: left;
}

.popover-header .btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: none;
    border-color: #f51167;
    background-color: #f51167;
}

@media only screen and (min-width: 1000px) {
    .popover {
        width: 750px
    }
}

@media only screen and (max-width: 1000px) {
    .popover {
        width: 300px
    }

    .product-container .toggler {
        margin-top: 20px;
    }

    .product-container .cart-thumb {
        margin: auto;
    }

    .product-container .trash-button {
        opacity: 0;
    }

    .cart-container {
        height: 400px;
        overflow: scroll;
    }
}