.product-filter-menu li a:hover {
  background: #f51167;
}

.product-items-enter {
  opacity: 0;
}
.product-items-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.product-items-exit {
  opacity: 1;
}
.product-items-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}