

.hero-slider .selected .hs-item h2,
.hero-slider .selected .hs-item span,
.hero-slider .selected .hs-item p,
.hero-slider .selected .hs-item .site-btn {
  top: 0;
  opacity: 1;
}

.hero-slider .selected .hs-item span {
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.hero-slider .selected .hs-item h2 {
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.hero-slider .selected .hs-item p {
  -webkit-transition: all 0.5s ease 0.6s;
  -o-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.hero-slider .selected .hs-item .site-btn {
  -webkit-transition: all 0.5s ease 0.8s;
  -webkit-transition: all 0.5s ease 0.8s;
  -o-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
}

.hero-slider .selected .hs-item .offer-card {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease 1s;
  -webkit-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.product-slider .carousel .control-dots .dot {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background: #000;
}

.product-slider .carousel .control-dots .dot.selected{
  opacity: 1;
  background: #f51167;
}

.product-slider .carousel .control-dots {
  margin: 0;
}


