
.quantity {
    margin-bottom: 8px;    
}

.quantity .pro-qty input {
    width: 28px;    
    border: none;
    height: 36px;
    line-height: 40px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    margin-top: 4px;
}

.quantity .pro-qty .qtybtn {
    width: 15px;  
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 100%;
    opacity: 0.5;
    transition: opacity 500ms;
}

.quantity .pro-qty .qtybtn:hover {
    opacity: 1;
}

.quantity .pro-qty .qtybtn.dec {
    background: #000;
    margin-right: 8px;
}

.quantity .pro-qty .qtybtn.inc {
    background:  #f51167;
    margin-left: 8px;   
}

.quantity #text {
    margin-top: 3px;
    font-size: 20px;
}


